#root {
  --title-height: 50px;
}

.bytemd {
  height: calc(100vh - var(--title-height));
}

.input-title {
  height: var(--title-height);
  line-height: var(--title-height);
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #fff;
  display: block;
  width: calc(100% - 20px * 2);
}

.preview {
  width: 100%;
}
